*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app
{
    width: 100%;
    height: 100vh;
    /* padding-top: 20px; */
    /* background: black; */
    /* background-image: url("../images/280291421_998785714165966_4108777435658327961_n.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* position: relative; */
}
.login-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* min-width: 100%; */
    /* min-height: 10%; */
    z-index:-100;
}
.login
{
    background: transparent !important;
}
.account-cont
{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-gap: 20px;
    /* border: 1px solid red; */
}
.child4
{
    margin: 0 10px;
    height: 80vh;
    /* border: 1px solid blue; */
}
.something{
    width: 100%;
    height: 60vh;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    /* border: 1px solid black; */
}
.sub-child
{
    margin: 0 10px;
    /* border: 1px solid blue; */
}
.video
{
    width: 70%;
    height: 80vh;
    margin: 0 15%;
    /* background: #000; */
}
.acc-vid
{
    width: 100%;
    height: 80vh;
}
.acc-img
{
    width: 100%;
    height: 50vh;
    /* background: red; */
}
.acc-subimg
{
    width: 100%;
}
.acc-subimg2
{
    width: 40%;
    height: 30vh;
    margin: 0 30%;
}
img
{
    pointer-events: none;
}

/* ///////////////////////////////////////////////// */
@media only screen and (width < 600px)
{
    .login-header,.login-mail,.login-password
    {
        color: black !important;
    }
}
